.main
{
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-image:url(https://images.unsplash.com/photo-1496372412473-e8548ffd82bc?q=80&w=1914&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 10px rgb(255, 0, 0);
}
